<body>

.button {
  font-family: 'arial black';
  font-weight: bold;
  color: #14396A !important;
  font-size: 14px;
  text-shadow: 1px 1px 10px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 14px 18px;
  border-radius: 10px;
  border: 2px ridge #3866A3;
  background: #63B8EE;
  background: linear-gradient(to top, #63B8EE, #468CCF);
}

.button:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(to top, #468CCF, #63B8EE);
</body>
