.button {
  display: inline-block;
  font-family: 'arial black';
  font-weight: bold;
  color: #14396A;
  font-size: 14px;
  text-shadow: 1px 1px 10px #7CACDE;
  box-shadow: 0 9px #999;
  padding: 14px 18px;
  border-radius: 10px;
  border: 2px ridge #3866A3;
  background: #63B8EE;
  background: linear-gradient(to top, #63B8EE, #468CCF);
}

.button:hover {
  color: #14396A;
  background: #468CCF;
  background: linear-gradient(to top, #468CCF, #63B8EE);
}

.button:active {
  background: linear-gradient(to top, #468CCF, #63B8EE);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1 {
  color: #14396A;
  box-shadow: 3px 3px 2px 0px rgba(128, 0, 0, 1);
}

p {
  color: #14396A;
}
